

########################### POSTGRES #################################

# port of postgres (on host machine)
POSTGRES_PORT=5432

# command to start postgres
POSTGRES_COMMAND="postgres -c logging_collector=on -c log_destination=stderr -c log_directory=/logs"
# you can configure logging, for example with:
# -c log_statement=all
# -c log_duration=1
# -c log_min_duration_statement=200


########################### REDPANDA CONSOLE #########################

# port of redpanda console (on host machine)
REDPANDA_CONSOLE_PORT=8080




########################### TOOLBOX SERVER ########################

# port of redpanda console (on host machine)
TOOLBOX_SERVER_PORT=3002

# email
# geovistory sends emails for account registration and pw reset
# email settings are not needed, if you don't need these features

# address used to send emails from
GEOV_EMAIL_ADDRESS=info@geovistory.org

# host name of smtp server
GEOV_EMAIL_HOST=asmtp.mail.hostpoint.ch

# port of smtp server
GEOV_EMAIL_PORT='465'

# passwort of smtp account
GEOV_EMAIL_PASSWORD=**

########################### TOOLBOX CLIENT ########################

TOOLBOX_CLIENT_PORT=4200